
.container  {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 224px
}

img {
  transition: .34s all !important;
}

@media (min-width: 1800px) {
  .container  {
    max-width: 1900px;
  }
}

@media (max-width: 1768px) {
  .container {
    max-width: 1280px;
    padding: 0;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 900px;
  }
}

.mainMenu {
  li {
    &:after {
      content: "";
      width: 24px;
      height: 24px;
      background-size: contain;
      background: url("../images/heart-menu.png") no-repeat center;
      position: absolute;
      top: calc(50% - 12px);
      right: -62px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      color: #181818;
      display: flex;
      line-height: normal;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #860508;
      }
    }
  }
}

.close {
  img {
    @media (max-width: 1768px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 1366px) {
      width: 32px;
      height: 32px;
    }
  }
}
.glow-intense {
  -webkit-animation: eamg_light 1.5s infinite;
  animation: eamg_light 1.5s infinite;
}

@keyframes eamg_light {
  0%, 100% {
    -webkit-filter: drop-shadow(0px 0px 32px #ffc8298a);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(253,253,255,0.5));
  }
}


.btn-heartbeat {
  animation: scaleHeartbeat 1.3s ease-in-out infinite;
}

@keyframes scaleHeartbeat {
  0%, 100% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.04);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

.slide-up-1 { animation-delay: 0.1s; }
.slide-up-2 { animation-delay: 0.15s; }
.slide-up-3 { animation-delay: 0.25s; }